.btn{
    color: #001F3F;
}
button {
    transition: all .5s ease;
    border: 3px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 14px;
    cursor: pointer;
}
button:hover {
   
    color: rgb(165, 99, 42);
    font-weight: 700;
    background-color: #fff;
}