.title{
    margin-top: 50px;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title p{
    font-size: 26px;
    color: #05257b;

}
.title h2{
    font-size: 40px;
}