.campus {
    margin: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery img {
    height: 290px;
    border-radius: 25px;
  }
  
  .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 50px 0px ;
  }
  